
/*** custom reset ***/

#ee-carousel, #ee-carousel * {
    box-sizing: border-box;    
}

#ee-carousel a {
    text-decoration: none;
}

/*** carousel ***/

#ee-carousel {
    max-width: 100%;
    margin: 0 auto;
    height: 250px;
    overflow: hidden;
    position: relative;
}

#ee-carousel #ee-slides-wrapper {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#ee-carousel .ee-slide {
    width: 50%;
    height: 100%;
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
}

#ee-carousel .ee-control {
    position: absolute;
    top: calc(50% + -25px);
    z-index: 2;
    cursor: pointer;
    font-size: 50px;
    transition: 0.5s;

    img {
        width: 50px;
    }

}

#ee-carousel input[type="radio"] {
    display: none;
}

#ee-carousel .ee-control-left {
    left: 0;
    opacity: 0;
    left: -100%;
}

#ee-carousel .ee-control-right {
    right: 0;
}

#ee-carousel .ee-control-right:checked, #ee-carousel .ee-control-right:checked + .ee-control-right {
    opacity: 0;
    right: -100%;
}

#ee-carousel .ee-control-right:checked ~ .ee-control-left {
    opacity: 1;
    left: 0;
}

#ee-carousel .ee-control-right:checked ~ #ee-slides-wrapper {
    transform: translateX(-50%);
}

/*** dynamic render ***/

#ee-carousel .ee-slide:nth-child(1){
    left: 0;
}

#ee-carousel .ee-slide:nth-child(2){
    left: 50%;
}

#ee-carousel .ee-slide:nth-child(3){
    left: 100%;
}

#ee-carousel .ee-story-wrapper {
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

#ee-carousel .ee-image-wrapper {
    max-width: 40%;
    max-height: 100%;
    overflow: hidden;
}

#ee-carousel  .ee-image-wrapper img {
    max-width: none;
    max-height: 100%;
    width: auto;
    height: auto;
}

#ee-carousel .ee-content-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ee-carousel .ee-content-wrapper h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 20px;
}

#ee-carousel .ee-content-wrapper p {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 20px;
}

#ee-carousel .ee-content-wrapper .ee-button {
    display: block;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    max-width: 80%;
    background: #3d51b1;
    color: #fff;
}

@media screen and (max-width: 740px) {

    #ee-carousel {
        max-width: 100%;
    }

    #ee-carousel .ee-slide {
        width: 100%;
    }

    #ee-carousel .ee-slide:nth-child(1){
        left: 0;
    }

    #ee-carousel .ee-slide:nth-child(2){
        left: 100%;
    }

    #ee-carousel .ee-slide:nth-child(3){
        left: 200%;
    }

    #ee-carousel #ee-controls-per-slide-1 {
        left: 0;
    }

    #ee-carousel #ee-controls-per-slide-2 {
        left: 45%;
    }

    #ee-carousel #ee-controls-per-slide-3 {
        left: 90%;
    }

    #ee-carousel #ee-controls-per-slide-1:checked ~ #ee-slides-wrapper {
        transform: translateX(0%);
    }

    #ee-carousel #ee-controls-per-slide-2:checked ~ #ee-slides-wrapper {
        transform: translateX(-100%);
    }

    #ee-carousel #ee-controls-per-slide-3:checked ~ #ee-slides-wrapper {
        transform: translateX(-200%);
    }

    #ee-carousel .ee-control-right:checked ~ #ee-slides-wrapper {
        transform: translateX(-100%);
    }
    
    #ee-carousel input[name="ee-controls-per-slide"] {
        display: block;
    }

    #ee-carousel .ee-content-wrapper {

    }

    #ee-carousel .ee-content-wrapper h2 {
        margin-bottom: 10px;
    }

    #ee-carousel .ee-content-wrapper p {
        margin-bottom: 10px;
    }

    #ee-carousel .ee-content-wrapper .ee-button {
        border-radius: 15px;
        padding: 15px;
        font-size: 15px;
        max-width: 100%;
    }

}
