<div id="ee-carousel">
  <input type="radio" class="ee-control ee-control-right" id="ee-control-right" name="ee-controls">
  <label for="ee-control-right" class="fa fa-chevron-right ee-control ee-control-right" aria-hidden="true">
    <img src="{{assets_img_dir}}right-arrow.svg">
  </label>
  <input type="radio" class="ee-control ee-control-left" id="ee-control-left" name="ee-controls">
  <label for="ee-control-left" class="fa fa-chevron-left ee-control ee-control-left" aria-hidden="true">
    <img src="{{assets_img_dir}}left-arrow.svg">
  </label>
  <div id="ee-slides-wrapper">
    <div *ngFor="let story of stories" id="ee-slide-{{story.id}}" class="ee-slide" [style.background]="bg_color">
    <div class="ee-story-wrapper">
      <div class="ee-image-wrapper">
        <img src="{{story.cover_image_url}}">
      </div>
      <div class="ee-content-wrapper">
        <h2 [style.color]="title_color">{{story.story_title}}</h2>
        <p [style.color]="sub_title_color">{{story.story_sub_title}}</p>
        <a href="{{story.link}}" class="ee-button" [style.background]="button_color">Read Story</a>
      </div>
    </div>
    </div>
  </div>
</div>